.portfolio {
  &__container {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); // change on repeat(3, 1fr) when third project will be added
    gap: 2.5rem;
  }

  &__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:hover {
      border-color: var(--color-primary-variant);
      background: transparent;
    }

    &-image {
      border-radius: 1.5rem;
      overflow: hidden;
      flex: 1;
      align-items: center;
      display: flex;

      & img {
        border-radius: 1.5rem;
      }
    }

    & h3 {
      margin: 1.2rem 0 2rem;
    }

    & p {
      margin-bottom: 1.2rem;
      color: var(--color-primary);
    }

    &-cta {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* ======================== MEDIA QUERIES (TABLETS) ======================= */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
