.about {
  &__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
  }

  &__me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display: grid;
    place-items: center;

    &-image {
      border-radius: 2rem;
      overflow: hidden;
      transform: rotate(10deg);
      transition: var(--transition);
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: var(--color-bg-variant);
        opacity: 0.4;
      }

      &:hover {
        transform: rotate(0);
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  &__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);

    &:hover {
      background: transparent;
      border-color: var(--color-primary-variant);
      cursor: default;
    }

    & h3 {
      font-size: 0.95rem;
    }

    & small {
      font-size: 0.7rem;
      color: var(--color-light);
    }
  }

  &__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__content {
    & p {
      margin: 2rem 0 2.6rem;
      color: var(--color-light);
    }
  }
}

/* ======================== MEDIA QUERIES (TABLETS) ======================= */
@media screen and (max-width: 1024px) {
  .about {
    &__container {
      grid-template-columns: 1fr;
      gap: 0;
    }

    &__me {
      width: 50%;
      margin: 2rem auto 4rem;
    }

    &__content {
      & p {
        margin: 1rem 0 1.5rem;
      }
    }
  }
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .about {
    &__me {
      width: 65%;
      margin: 0 auto 3rem;
    }

    &__cards {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }

    &__content {
      text-align: center;

      & p {
        margin: 1.5rem 0;
      }
    }
  }
}
