.list {
  padding: 2rem;

  & li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
  }

  &-icon {
    color: var(--color-primary);
    margin-top: 2px;
    min-width: 16px;
  }

  & p {
    font-size: 0.9rem;
  }
}
