.container.certifications__container {
  width: 60%;
  padding-bottom: 4rem;
  overflow: visible;
}

.certificat {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;

  &__picture {
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__skills {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

.swiper {
  &-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    transition-timing-function: ease !important;
    transition-duration: 1000ms !important;

    & img {
      display: block;
      width: 100%;
    }
  }

  &-wrapper {
    transition-timing-function: ease !important;
    transition-duration: 1000ms !important;
  }
}

/* ======================== MEDIA QUERIES (TABLETS) ======================= */
@media screen and (max-width: 1024px) {
  .container.certifications__container {
    width: 60%;
  }
}

/* ======================== MEDIA QUERIES (TABLETS) ======================= */
@media screen and (max-width: 800px) {
  .container.certifications__container {
    overflow: hidden;
  }
}

/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .container.certifications__container {
    width: var(--container-width-sm);
  }

  .certificat__skills {
    width: var(--container-width-sm);
  }
}
